# FastAPI Framework
fastapi
uvicorn
python-multipart
mangum

# MongoDB
motor
pymongo

# WebSockets
python-socketio
python-engineio

# HTTP Client
httpx

# AWS SDK (Cognito Authentication)
boto3

# JWT Token Validation
python-jose[cryptography]

# Deepgram SDK (AI Transcription)
deepgram-sdk

# Geospatial
geopy

# Validation
pydantic
email-validator

# Background Tasks
apscheduler

# Logging
loguru

# Environment Variables
python-decouple

# Testing
pytest
pytest-asyncio

# SETTINGS
pydantic-settings